// Session情報で分岐
if user
  form(method='POST', action='/', name="frm")
    input(name='_method', type='hidden', value='DELETE')
    p #{user.name}さん こんにちは
    p
      a(href='javascript:void(0);', onclick='frm.submit();') [ログアウト]
else
  p ログインしてください
  form(method='POST', action='/')
    fieldset
      legend ログイン
      p
        label(for='user[name]') ユーザー名
        input(name='user[name]')
      p
        label(for='user[pwd]') パスワード
        input(type='password', name='user[pwd]')
      p
        input(type='submit')